/* PC */
@media (min-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5ff;
    background-image: url(../../../assets/background-brand.png);
    background-repeat: no-repeat;
    background-position: -25rem 40rem;
  }

  .content {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.4rem;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .petInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #566dea;
  }

  .headerImage {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 2.4rem 0 0;
  }

  .petName {
    font-weight: 600;
    font-size: 2.4rem;
  }

  .petAge {
    font-weight: 400;
    font-size: 1.8rem;
  }

  .wContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.8rem;
    border-radius: 0.8rem;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
  }

  .wContainer:hover {
    filter: brightness(0.9);
  }

  .wContainer:active {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .wContainer svg {
    fill: #566dea;
  }

  .title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: #566dea;
  }

  .qrCode {
    height: 6.4rem;
    width: auto;
  }
  .codigoPet {
    height: 2.4rem;
    width: auto;
    margin-left: 2.4rem;
  }
}
/* Tablet */
@media (min-width: 320px) and (max-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5ff;
    background-image: url(../../../assets/background-brand.png);
    background-repeat: no-repeat;
    background-position: -25rem 80rem;
  }

  .content {
    max-width: 70rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.4rem;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .petInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #566dea;
  }

  .headerImage {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 2.4rem 0 0;
  }

  .petName {
    font-weight: 600;
    font-size: 2.4rem;
  }

  .petAge {
    font-weight: 400;
    font-size: 1.8rem;
  }

  .wContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.8rem;
    border-radius: 0.8rem;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
  }

  .wContainer:hover {
    filter: brightness(0.9);
  }

  .wContainer:active {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .wContainer svg {
    fill: #566dea;
  }

  .title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: #566dea;
  }

  .qrCode {
    height: 6.4rem;
    width: auto;
  }
  .codigoPet {
    height: 2.4rem;
    width: auto;
    margin-left: 2.4rem;
  }
}
/* Celular */
@media (max-width: 320px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5ff;
    overflow: auto;
    background-image: url(../../../assets/background-brand.png);
    background-repeat: no-repeat;
    background-position: -25rem 80rem;
    background-size: auto 45rem;
  }

  .content {
    max-width: 32rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .petInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #566dea;
  }

  .headerImage {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 2.4rem 0 0;
  }

  .petName {
    font-weight: 600;
    font-size: 2.4rem;
  }

  .petAge {
    font-weight: 400;
    font-size: 1.8rem;
  }

  .wContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.8rem;
    border-radius: 0.8rem;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
  }

  .wContainer:hover {
    filter: brightness(0.9);
  }

  .wContainer:active {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .wContainer svg {
    fill: #566dea;
  }

  .title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: #566dea;
  }

  .qrCode {
    height: 6.4rem;
    width: auto;
  }
  .codigoPet {
    height: 2.4rem;
    width: auto;
    margin-left: 2.4rem;
  }
}

.content h3 {
  color: #566dea;
  font-weight: 600;
  margin: 0.8rem 0;
}

.content p {
  color: #6ca6fd;
  font-weight: 300;
  margin: 0 0 1.4rem 0;
}
