.imgHeader{
  margin: 4.8rem;
}

.divider{
  width: 1px;
  height: 90%;
  background-color: #566dea;
}

@media (min-width: 360px) {   
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F5FF;
    overflow: auto;
  }
    
  .content{
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .divider{
    display: none;
  }
 }

@media (min-width: 720px) {     
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F5FF;
    background-image: url("../../../assets/background-brand.png");
    background-repeat: no-repeat;
    background-position: -25rem 60rem;
  }

  .content{
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    gap: 4.4rem;
    align-items: center;
  }
  .divider{
    display: flex;
  }
 }

@media (min-width: 1200px) {  
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F5FF;
    background-image: url("../../../assets/background-brand.png");
    background-repeat: no-repeat;
    background-position: -25rem 60rem;
  }

  .content{
    max-width: 90rem;
    display: flex;
    flex-direction: row;
    gap: 8.4rem;
    align-items: center;
  }
  .divider{
    display: flex;
  }
 }

.content h3{
  color: #566dea;
  font-weight: 600;
  margin: 0.8rem 0;
}

.content p{
  color: #6CA6FD;
  font-weight: 300;
  margin: 0 0 1.4rem 0;
}